<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/Avatar.jpg" alt="_blank">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>I'm Vyapak Mishra</p>
                        <h1>a web desigener  And <span class="text_clr">MERN stack</span> developer</h1>
                        <a href="/weather"><button>Check now</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>